/* Colors for the last level */

body:has(dialog input[data-level="7"]:checked) span[data-last="green"] {
    background-color: green;
}

body:has(dialog input[data-level="7"]:checked) span[data-last="red"] {
    background-color: red;
}

body:has(dialog input[data-level="7"]:checked) span[data-last="orange"] {
    background-color: orange;
}