/************************/
/* Make the cube rotate */
/************************/
article{
    /* Both variables are based on the slider event listeners */
    transform: rotateX(var(--y-deg)) rotateY(var(--x-deg));
}

/*******************/
/* Event Listeners */
/*******************/

/* Vertical y-as */
head[data-vertical-x^="0"]+body {
    --y-deg: -180deg;
}

head[data-vertical-value^="1"]:not([data-vertical-value="1"])+body {
    --y-deg: -144deg;
}

head[data-vertical-value^="2"]:not([data-vertical-value="2"])+body {
    --y-deg: -108deg;
}

head[data-vertical-value^="3"]:not([data-vertical-value="3"])+body {
    --y-deg: -72deg;
}

head[data-vertical-value^="4"]:not([data-vertical-value="4"])+body {
    --y-deg: -36deg;
}

head[data-vertical-value^="5"]:not([data-vertical-value="5"])+body {
    --y-deg: 0deg;
}

head[data-vertical-value^="6"]:not([data-vertical-value="6"])+body {
    --y-deg: 36deg;
}

head[data-vertical-value^="7"]:not([data-vertical-value="7"])+body {
    --y-deg: 72deg;
}

head[data-vertical-value^="8"]:not([data-vertical-value="8"])+body {
    --y-deg: 108deg;
}

head[data-vertical-value^="9"]:not([data-vertical-value="9"])+body {
    --y-deg: 144deg;
}

head[data-vertical-value^="10"]:not([data-vertical-value="10"])+body {
    --y-deg: 180deg;
}

/* Horizontal x-as */
head[data-horizontal-x^="0"]+body {
    --x-deg: calc(36deg * -5);
}

head[data-horizontal-value^="1"]:not([data-horizontal-value="1"])+body {
    --x-deg: calc(36deg * -4);
}

head[data-horizontal-value^="2"]:not([data-horizontal-value="2"])+body {
    --x-deg: calc(36deg * -3);
}

head[data-horizontal-value^="3"]:not([data-horizontal-value="3"])+body {
    --x-deg: calc(36deg * -2);
}

head[data-horizontal-value^="4"]:not([data-horizontal-value="4"])+body {
    --x-deg: calc(36deg * -1);
}

head[data-horizontal-value^="5"]:not([data-horizontal-value="5"])+body {
    --x-deg: calc(36deg * 0);
}

head[data-horizontal-value^="6"]:not([data-horizontal-value="6"])+body {
    --x-deg: calc(36deg * 1);
}

head[data-horizontal-value^="7"]:not([data-horizontal-value="7"])+body {
    --x-deg: calc(36deg * 2);
}

head[data-horizontal-value^="8"]:not([data-horizontal-value="8"])+body {
    --x-deg: calc(36deg * 3);
}

head[data-horizontal-value^="9"]:not([data-horizontal-value="9"])+body {
    --x-deg: calc(36deg * 4);
}

head[data-horizontal-value^="10"]:not([data-horizontal-value="10"])+body {
    --x-deg: calc(36deg * 5);
}