/* Styling for the impossible cube */

/* MESS UP THE CUBE :)

article > span:nth-child(n+1):nth-child(-n+9) {
transform: rotateX(calc(var(--move-deg) * .5)) rotateY(calc(var(--move-deg) * 1.3));
}

article > span:nth-child(n+20):nth-child(-n+24) {
transform: rotateX(calc(var(--move-deg) * 2)) rotateY(calc(var(--move-deg) * 1.2));
}

article > span:nth-child(n+9):nth-child(-n+14) {

transform: rotateX(calc(var(--move-deg) * 3)) rotateY(calc(var(--move-deg) * 1.5));
}

article > span:nth-child(n+18):nth-child(-n+20) {

transform: rotateX(calc(var(--move-deg) * 3.4)) rotateY(calc(var(--move-deg) * 1.9));
}


article > span:nth-child(23):nth-child(23){
    transform: rotateX(calc(var(--move-deg) * 1.4)) rotateY(calc(var(--move-deg) * .4));
} */