dialog input {
    display: flex;
    appearance: none;
    position: relative;
    margin-top: auto;
    padding: calc(var(--base-offset) / 2) var(--base-offset);
    background-color: grey;
}

/* form:has(fieldset) input[type="reset"] {
    position: fixed;
    top: var(--base-offset);
    right: var(--base-offset);
} */

body:has(dialog input:checked) button[type="reset"] {
    display: block;
}

body:has(dialog input[data-level*="spectator"]:checked) button[type="reset"]:after {
    display: none;
}

dialog input::before {
    margin: auto;
}


dialog input[data-level*="spectator"] {
    background-color: #333;
}

dialog input:not([data-level*="spectator"])::before {
    content: "Start Solving - 🧊";
}

input[data-level*="spectator"]::before {
    content: "Spectate - 🔓";
}

dialog input[data-level*="spectator"]:hover::before {
    content: "Click to spectate";
}

dialog input[disabled] {
    background-color: #111;
}

dialog input[disabled]::before {
    content: "🔒";
}

dialog input[disabled]:hover::before {
    content: "Locked - 🔒";
}



input,
button {
    cursor: pointer;
}

input:disabled,
button:disabled {
    cursor: not-allowed;
}



button[type="reset"] {
    isolation: isolate;
    appearance: none;
    border: none;
    position: absolute;
    display: none;
    top: var(--base-offset);
    right: var(--base-offset);
    padding: calc(var(--base-offset) / 2) var(--base-offset);
    background-color: grey;
    z-index: 1;
    font-size: 1em;
}


button[type="reset"]::after {
    content: "On click your progress of this level will be lost";
    position: absolute;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: -2;
    background: #9f9f9f;
    transform: scaleY(0);
    transition: 200ms all;
    transform-origin: top;
}

button[type="reset"]:hover::after {
    opacity: 1;
    transform: scaleY(100%);
}

dialog input[type="reset"] {
    display: none;
}

input[type="range"] {
    position: absolute;
    appearance: none;
    width: calc(var(--object-size) * 3);
    background: white;
    background: linear-gradient(to right, var(--color-blue) 0%, var(--color-blue) 20%, var(--color-orange) 20%, var(--color-orange) 40%, var(--color-green) 40%, var(--color-green) 60%, var(--color-red) 60%, var(--color-red) 80%, var(--color-blue) 80%, var(--color-blue) 100%);
}

input[type="range"]::-webkit-slider-thumb {
    display: block;
    appearance: none;
    background: #444;
    box-shadow: inset 0 0.25em 0.125em rgba(255, 255, 255, 0.3),
        inset 0 -0.25em 0.125em rgba(0, 0, 0, 0.3);
    display: block;
    height: calc(var(--object-size) / 4);
    position: relative;
    width: calc(var(--object-size) / 4);
}

input[type="range"][aria-orientation="vertical"]::-webkit-slider-thumb {
    box-shadow: inset -0.25em 0 0.125em rgba(255, 255, 255, 0.3),
        inset 0.25em 0 0.125em rgba(0, 0, 0, 0.3);
}



input[type="range"]:not([aria-orientation="vertical"]) {
    bottom: var(--base-offset);
}

input[type="range"][aria-orientation="vertical"] {
    background: linear-gradient(to right, var(--color-blue) 0%, var(--color-blue) 20%, var(--color-yellow) 20%, var(--color-yellow) 40%, var(--color-green) 40%, var(--color-green) 60%, var(--color-white) 60%, var(--color-white) 80%, var(--color-blue) 80%, var(--color-blue) 100%);
    left: var(--base-offset);
    transform: rotate(-90deg) translateX(-50%);
    transform-origin: left;
    top: 50%;
}

