@import "./cube/all.css";
@import "./input.css";
@import "./impossible.css";
@import "./home/home.css";
@import "./fieldset.css";
@import "./levels/all.css";

@font-face {
    font-family: "Rocher";
    src: url("../assets/fonts/RocherColorGX.woff2");
}

@font-palette-values --base {
    font-family: "Rocher";
    base-palette: 2;
}

* {
    font-family: "Rocher";

    /* font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
    color: white;
    font-weight: 500;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-palette: --base;
}

html {
    overflow: hidden;
}

:root {
    --base-color: crimson;
    --dark-base-color: rgb(80 0 20);
    --object-size: 50px;
    --move-deg: 180deg;
    --base-offset: 1em;
    --current-level: "1";
    --curve: cubic-bezier(0.5, 1, 0.7, 1.4);
    --animation-timing: 500ms;
    /* --curve:cubic-bezier(.49,.99,.58,1.2); */
    /* --curve:cubic-bezier(.55,.2,.78,1.23); */
    /* --curve:cubic-bezier(.69,.99,.79,1.29); */



    /* --color-green: green; */
    --color-red: red;
    --color-red: hsl(6, 100%, 35%);
    --color-green: hsl(120, 100%, 30%);
    /* --color-orange: orange; */
    --color-orange: hsl(40, 100%, 45%);
    --color-yellow: yellow;
    --color-yellow: hsl(60, 100%, 40%);
    --color-white: white;
    --color-white: hsl(240, 10%, 90%);
    --color-blue: blue;
    --color-blue: hsl(210, 100%, 40%);
}

:root:has(input[name="end"]:checked) {
    --current-level: "loser";
}

:root:has(fieldset[data-layer="1"]:valid) {
    --current-level: "2";
}

:root:has(fieldset[data-layer="2"]:valid) {
    --current-level: "3";
}

@media only screen and (min-width: 500px) {
    :root {
        --object-size: 75px;
        --base-offset: 1.2em;
    }
}

@media only screen and (min-width: 1000px) {
    :root {
        --object-size: 100px;
        --base-offset: 1.4em;
    }
}

body {
    height: 100vh;
    height: 100dvh;
    width: 100%;

    background: var(--base-color);
    background: radial-gradient(circle,
            var(--base-color) 0%,
            var(--dark-base-color) 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
    perspective: 800px;
}



body:has(input[data-easter-egg="1"]:checked) {
    /* CHANGE COLORS */
    background: var(--base-color);
	background-image:		
        url("data:image/svg+xml,%3Csvg viewBox='0 0 424 74' fill='red' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 23C0 23 73.3853 45.8898 90.5 26.9997C118.5 -3.90494 195 61.9997 213 26.9999C231 -7.99988 342.5 52.5 340 6.50006C338.952 -12.7859 424 23 424 23V73.8657H0V23Z'/%3E%3C/svg%3E "),
        url("data:image/svg+xml,%3Csvg viewBox='0 0 484 113' fill='orange' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M484 31.9467C484 31.9467 411.514 59.6048 351.585 19.2338C291.656 -21.1372 301.358 68.4778 234.009 54.7787C166.66 41.0797 131.844 -8.00787 94.7453 1.12447C57.6462 10.2568 1.13759e-05 31.9467 1.13759e-05 31.9467L1.84618e-05 113L484 113L484 31.9467Z'/%3E%3C/svg%3E"), 
		url("data:image/svg+xml,%3Csvg fill='green' viewBox='0 0 424 125' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 42.3633C0 42.3633 37 49.9995 90.5 26.4996C144 2.99977 162 74.4998 221 62.4998C280 50.4998 321.5 -20.0179 347 6.99978C372.5 34.0174 424 42.3633 424 42.3633V124.5H0V42.3633Z'/%3E%3C/svg%3E "),
		url("data:image/svg+xml,%3Csvg viewBox='0 0 424 188' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 51.6367C0 51.6367 41 51.6367 74.5 39.0001C119.519 22.0182 197.5 53.1351 230 41.1358C262.5 29.1364 311.276 -26.1064 344 16.1367C371.5 51.6366 424 51.6367 424 51.6367V187.637H0V51.6367Z' /%3E%3C/svg%3E%0A"),
		url("data:image/svg+xml,%3Csvg viewBox='0 0 424 191' fill='rgb(20, 30, 40)' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 43.0001C0 43.0001 88.5 45.4992 110 20.5001C139.359 -13.6364 144 41 209.5 41.0001C275 41.0002 348.283 -30.3748 373 17C385 39.9998 424 43.0001 424 43.0001V190.637H0V43.0001Z'/%3E%3C/svg%3E");
	background-repeat: repeat-x;
	background-position: 
		0 100%,
		0 100%,
		0 100%,
		0 100%,
		0 100%;
	background-size: 
		100%,
		100%,
		100%,
		100%,
        100%;

	animation: 3s golven infinite linear;
	}

@keyframes golven {
	100% {
		background-position: 
            100vw 100%,
			300vw 100%,
			200vw 100%,
			100vw 100%,
			200vw 100%;
		}
}

body>form {
    display: contents;
}


header {
    position: absolute;
    inset: 0 0 auto 0;
    padding: var(--base-offset);
}

header p::after {
    content: var(--current-level);
    margin-left: calc(var(--base-offset) / 3);
}


/* V2 */

article {
    transition: 300ms all;
    position: relative;
    display: block;
    width: calc(var(--object-size) * 3);
    height: calc(var(--object-size) * 3);
    transform-style: preserve-3d;
}

/* 
article span:not(article > span) {
    position: absolute;
    display: block;
    /* background: white; 
width: var(--object-size);
height: var(--object-size);
opacity: 0.9;
}

article>span {
    position: absolute;
    display: block;
    /* transition: 200ms; 
    background: transparent;
    transform-style: preserve-3d;
    width: calc(var(--object-size) * 3);
    height: calc(var(--object-size) * 3);
}

*/


/* Box puzzle */

section:has(input[name="box-puzzle"]) {
    position: absolute;
    bottom: 0;
    right: 0;
    height: calc(calc(var(--object-size) * 3) + calc(var(--base-offset) * 4));
    width: calc(calc(var(--object-size) * 2) + calc(var(--base-offset) * 3));
    /* padding: var(--base-offset); */
}

fieldset:has(input[name="box-puzzle"]) {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--base-offset);
    border: none;
    padding: var(--base-offset);
}


@keyframes fadeOut {
    0% {
        transform: translateX(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(100%);
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes next {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    20% {
        opacity: 1;
        transform: translateY(-200%);
        font-size: 2em;
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}

@keyframes next2 {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }

    20% {
        opacity: 1;
        transform: translateY(-200%);
        font-size: 2em;
    }

    100% {
        opacity: 0;
        transform: translateY(0);
    }
}